.main{
	width: 960px;
	padding: 10px;
	height: 120px;
	margin: 0 auto;
}

.navik{
	float:right;
	max-width:960px;
}
.one{
    right: 100px;
    font-size: x-large;
    float: left;
    margin-right: 30px;
}

.link{
   max-width: 960px;
   border: 2px solid #000000;
   background-color: aquamarine;
}

 header{
     background-color: rgb(70, 174, 167);
border-bottom: 5px solid #000000;
 }
 #main {
   background-color: rgb(140, 239, 232);
border: 5px solid #000000;
}
  img {
     border: 3px solid #000000;
     float: left;
     margin-right: 5px;

   }
   .header_cont {
     padding: 15px 10px 0 10px;
     clear: both;
   }
   .header_cont div {
     display: inline-block;
     padding: 25px 0 0 10px;
   }
 .container{
     width: 100%;
 }

/* body{
 color:#4B0082;
   background-color:	#a484f6;

 }*/
 .page-nav{
   max-width: 760px;
   float: right;
   margin-left: 150px;


 }

    nav div {
      height: 30px;
      float: right;
      display: inline-block;
   margin: 3px 3px 0 0;
   width: 150px;
   border: 3px solid #759cd8;
   background-color: #8b31c4;
   padding: 1px;
   border: 2px solid #000000;
   margin-left: 5px;
   text-align: center;
    }




  .link li{
  align-items: center;
  display: inline;
   padding: 10px;
  }

 li{
  margin:10px auto;
 }

/*  ul{
  margin: 0 auto;
   display:inline-flex; 
   list-style-type: none;
 }
*/


 a{
     display: block;
     color: #000000;  
 }
 a:hover{
     text-decoration: inherit;
 }


tr:nth-child(even){
     background-color: #621ff4;
 }

  .table{
     border-collapse: collapse;
     border: 1px solid black;
     width: 700px;
     height: 300px;
   border: 3px solid #000000;
   margin-left: 20%;
   background-color: rgba(30, 212, 166, 0.47);
     
 }
 th, td{
     border: 1px solid black;
 }

 .hik{
    float: left;
 }




  #form{
  margin: 0 auto;
  padding:0 auto;
  align-items: center;
  border: 3px solid #000000;
  margin-left: 20%;
  background-color: rgba(30, 212, 166, 0.47);
  width: 700px;
  height: 450px;
 }

  input, select, textarea{
     border: 1px solid#e5e5e5;
 }
 input[type=submit],[type=radio], [type=date]{
     cursor: pointer;
 }
 input[type=submit]{
     background-color: rgb(255, 255, 255);
 }
 textarea{
     resize: none;
 }


 .footer{
     background-color: rgb(70, 174, 167);
      } 

















